.landing-background
  .row
    .small-6.columns
      %h3.subheader
        Pas le temps de lire les classiques?
      %h3.subheader
        On vous les a découpés en vidéos de 5 minutes!
      = link_to "S'incrire", sign_up_path, class: "button round"
    .small-6.columns
      .ul.small-block-grid-4
        %li= image_tag 'rtp.jpg'
        %li= image_tag 'tdd-beck.jpg'
        %li= image_tag 'refactoring-fowler.jpg'
        %li= image_tag 'effective-java.jpg'

.row
  .small-4.columns
    %h3.subheader
      Notre équipe
    %p
      Notre producteurs de vidéos sont des développeurs aguerris qui font parler leur expérience du terrain.
    %p
      =link_to "&#8594; Rencontrez-les".html_safe, team_path
  .small-4.columns
    %h3.subheader
      Nos contenus
    %p
      Le fil conduteur de nos contenu vidéos est ...
    %p
      =link_to "&#8594; Un échantillon".html_safe
  .small-4.columns
    %h3.subheader
      Veille technologique customisé!
    %p
      Nous fournissons des chaines privées de diffusion de vidéos customisées pour vos équipes de développements.
    %p
      =link_to "&#8594; Plus de détails".html_safe

