.row
  %ul.small-block-grid-2
    %li
      = render partial: 'landing/member', locals: {image_name: 'julien.jpg', name: 'Julien Smadja', role: 'Développeur'}
    %li
      = render partial: 'landing/member', locals: {image_name: 'jl.jpg', name: 'Jean Laurent de Morlhon', role: 'Développeur'}
    %li
      = render partial: 'landing/member', locals: {image_name: 'jean.jpg', name: 'Jean Helou', role: 'Développeur'}
    %li
      = render partial: 'landing/member', locals: {image_name: 'xavier.jpg', name: 'Xavier Bucchiotty', role: 'Développeur'}
    %li
      = render partial: 'landing/member', locals: {image_name: 'diego.jpg', name: 'Diego Lemos', role: 'Développeur'}
    %li
      = render partial: 'landing/member', locals: {image_name: 'nico.jpg', name: 'Nicolas Demengel', role: 'Développeur'}
    %li
      = render partial: 'landing/member', locals: {image_name: 'pierre.jpg', name: 'Pierre Laporte', role: 'Développeur'}
    %li
      = render partial: 'landing/member', locals: {image_name: 'simon.png', name: 'Simon Caplette', role: 'Développeur'}
