%h4
  = @video.title
.row
  .large-8.columns
    .flex-video.vimeo.widescreen
      %iframe{:src => @video.url, :color => "ffffff", :width => "168", :height => "94", :frameborder => "0"}
  .large-4.columns
    = simple_form_for [@video, Comment.new], remote: true do |f|
      = f.input :text, label: "Ajouter un commentaire"
      = f.submit "Ajouter"
    %ul#comments
      - @video.comments.each do |comment|
        %li=comment.text
.row
  = render partial: 'videos/rating', locals: { rating: @video.average_rating, count: @video.ratings_count }
  = "Niveau: #{@video.level_as_word}"
  = "Durée: #{distance_of_time_in_words(@video.duration)}"